{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.total_shares }}</td>
                <td>{{ stock.price | usd }}</td>
                <!-- format total value as "$ 230.22" -->
                <!-- раньше ты умножала не totalshares, а просто shares(последнее добавленное значение shares) -->
                <td>{{ (stock.price * stock.total_shares) | usd }}</td>

            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
            <td>{{ cash | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
            <td>{{ grand_total | usd }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}